  <div id="wrapper">
    <div id="content">
      <div id="site_slogan">
        <h1>Squirrly</h1>
          <%= link_to '', '/auth/facebook', :class => 'fb-connect-button' %>
          <span id="copy"></span><br/>
      </div>
    </div>
  </div>
  <!-- The container for the background-image -->
  <img id="bg" style="display:none" />

  <!-- The container for the grid on top of the background-image -->
  <div id="bg_grid">
  </div>

<script type="text/javascript" src="jquery-1.8.3.min.js"></script>

<script type="text/javascript">
  var images = new Array();
  var copy = new Array();
  var iPrev = -1;
  var iRnd = -1;

  images[0] = "http://2.bp.blogspot.com/-B85dEhVnbRM/TfBXQr14BpI/AAAAAAAAAGw/kI-xZ_aGI7s/s1600/Clara%2527s+1st+birthday+party+BBQ.jpg";
  images[1] = "http://www3.pictures.zimbio.com/bg/Diego+Luna+Diego+family+lunch+C6sprqnkqucl.jpg";
  images[2] = "http://c365781.r81.cf2.rackcdn.com/datas/21263207/original/pearland_basket_ball.jpg";
  images[3] = "http://eptdesign.com/beta/wp-content/uploads/2011/08/EPT-picnic-077.jpg";
  images[4] = "http://4.bp.blogspot.com/-pwnKbcWWM3U/TwoKdlMTFBI/AAAAAAAAJUA/XvXMGse909g/s1600/blog+picnic+2.JPG";
  images[5] = "http://eptdesign.com/beta/wp-content/uploads/2011/08/EPT-picnic-083.jpg";
  images[6] = "http://www.prosperitycandle.com/wp-content/uploads/2012/06/PIcnic-1.jpg";

  copy[0] = "Turn Facebook friends into real friends.";
  copy[1] = "Quickly create Facebook events.";
  copy[2] = "Get RSVP email notifications.";
  copy[3] = "Turn Facebook friends into real friends.";
  copy[4] = "Easily manage events.";
  copy[5] = "Turn Facebook friends into real friends.";
  copy[6] = "Easily manage events.";

  $(document).ready(function() {

    /* Define the function that triggers to fade in the background as soon as the image has loaded */
    $("img#bg").load(function()
      {
        /* Fade in during 4 seconds */
        $("img#bg").fadeTo(4000,1);

        /* Animate the picture description */
          setTimeout(function() { 
            $("#site_slogan").animate(100) }, 500);
            // $("#site_slogan").animate({right: '0'}, 100) }, 500);

        /* Set the timeout to fade out the image and the description after 10 seconds*/
          setTimeout(function() { 
            $("#site_slogan").animate(100); 
            $("img#bg").fadeOut(4000);

              /* Load the next image after 4 seconds */
              setTimeout(LoadImages,4000);
            }
            ,5000);
      })

    /* Start the slideshow one second after the page is ready */
    setTimeout(LoadImages,1000);
    });

    function LoadImage(iNr) {

    /* Assign the new image to the background */
    $("img#bg").attr("src", images[iNr]);
    $("#copy").html(copy[iNr]);

    };

    function LoadImages() {

      /* Select a random image number and make sure this is not equal to the previous image */
      while(iPrev == iRnd)
      {
        iRnd = Math.floor(Math.random()*images.length);
      }

      /* Show the selected image */
      LoadImage(iRnd);
      iPrev = iRnd;

    };
</script>