<div class="lane">
  <div class="user_info">
    <img src="http://placehold.it/50x50">
    <!-- FB name and photo -->
  </div>

  <div class="timeline">
    <%= render :partial => 'event', :collection => @events %>
  </div><!--/timeline-->

  <%= link_to image_tag('wood_bin.png'), url_for({:controller => 'controller_name', :action => 'action_name'}), :title=>"Remove Schedule?", :class => 'remove_sched', :remote => true %>

</div>
