<div class="lane">
  <a id="remove_sched" href="#">Remove</a>
  <div class="user_info">
    <img src="http://placehold.it/40x40">
    <!-- FB name and photo -->
  </div>
  <div class="event">
    <p class="event_text">I am an event!</p>
  </div>

  <div class="event">
    <p class="event_text">I am an event!</p>
  </div>
</div>
