<div class="lane">
<<<<<<< HEAD
  <div class="user_info">
    <img src="http://placehold.it/40x40"><!-- FB name and photo -->
=======

 <div class="user_info">
    <img src="http://placehold.it/40x40">
    <!-- FB name and photo -->
>>>>>>> add: lane, event partials, new form, show and edit page, timeline_helper; and remove user_controller and old static html files
  </div>

  <div class="timeline">
    <%= render :partial => 'event', :collection => @events %>
  </div><!--/timeline-->

 <a class="remove_sched" href="#">[x]</a>

</div>
