<%#= link_to "Add friend's schedule", new_lane_path, :remote => true %>
&nbsp;  &nbsp;<%= link_to("Add Event", new_event_path) %>
<div id="chart">
  <%= render 'lanes/lane' %>
</div>

<%= form_tag("/acceptable_submit", :method => "post") do %>
<div id="foobar">
</div>
  <%= submit_tag("Submit") %>
<% end %>

<script type="text/javascript">
$(document).on('fbInit', function() {
  Facebook.getFriendsData(function(response) {
    console.log(response.data);
    for(var i = 0;i < response.data.length;i++) {
      $('#foobar').append(Facebook.createFriendCheckbox(response.data[i]));
    }
  });
});
</script>