<h1 id="title">
	Squirrly
</h1>

<div id="flexigrid">
	<ul>
		<li class="col">Name:</li>
		<li class="col">Name:</li>
		<li class="col">Name:</li>
		<li class="col">Name:</li>
		<li class="col">Name:</li>
	</ul>
</div>