<%= form_for(@event) do %>
<div id="foobar"></div>
  <%= submit_tag("Submit") %>
<% end %>

<script type="text/javascript">
$(document).on('fbInit', function() {
  Facebook.getFriendsData(function(response) {
    console.log(response.data);
    for(var i = 0;i < response.data.length;i++) {
      $('#foobar').append(Facebook.createFriendCheckbox(response.data[i]));
    }
  });
});
</script>