/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
}

html {
  color: black;
}

div.header {
  float: left;
}

div.nav { /* fb login/out link */
  float: right;
  width: auto;
}

a:link, a:visited {
  color: #03406A;
  text-decoration: none;
}

a:hover {
  color: #0A64A4;
}

body {
  width: 860px;
  margin: 0 auto;
  color: #BF8130;
  background-color: #FFFFFF; /*#FFC273;*/
}

#auth {
  float: right;
  padding: 10px;
  font: 14px verdana;
  text-align: right;
  text-decoration: none;
}

#title {
font: 50px 'Mouse Memoirs', sans-serif;
color: #BF8130;
margin: 20px 0px;
}

/*div.tabs ul li a:link { outline: 0; color: black; text-decoration: none; }
div.tabs ul li a:active { outline: 0; text-decoration: none; }
div.tabs ul li a:hover { outline: 0; text-decoration: none; color: red; }
div.tabs ul li a:visited { outline: 0; text-decoration: none; color: black; }

div.tabs {
  float: left;
  height: auto;
  width: 55%;
  margin-right: 8.6%;
  margin-top: 1%;
}
div.tabs ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.tabs ul li {
  display: inline-block;
  margin-left: 0.1%;
  border: 1px solid #666;
  background-color: #e1e1e1;
  padding: 1%;
  border-radius: 2px 2px 2px 2px;
}

div.tabs ul li.current {
  background-color: #f9f9f9;
  font-size: bold;
}

div.day {
  width: auto;
  background-color: yellow;
  height: 5%;

}

div.main_grid {
  height: 100%;
  width: 120%;

  float: left;


  padding: 20px;
  clear: both;
}

div.main_grid td {
  padding: 12px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #eee;
}

div.main_grid table#roster a:link { color: black; text-decoration: none; }
div.main_grid table#roster a:active { text-decoration: none; }
div.main_grid table#roster a:hover { color: red; }
div.main_grid table#roster a:visited { text-decoration: none; color: black; }

.zebra {
  background-color: #ddd;
  color: #666;
}
*/
